* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
  font-family: '游ゴシック','ヒラギノ角ゴ ProN','Hiragino Kaku Gothic ProN','メイリオ','Meiryo','sans-serif';
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header {
  width: 100%;
  height: 80px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  opacity: 1;
  overflow: hidden;
}
.anniversary {
  width: 80%;
  color: rgba(0,152,68,1);
  margin-top: 10px;
  font-weight: Bold;
  font-size: 20px;
  text-align: center;
  }
.video {
  width: 90%;
  background: rgba(252,250,244,1);
}
video{
  height: auto;
  max-width: 100%;
}
.video_warning {
  width: 100%;
  color: rgba(0,152,68,1);
  font-weight: Bold;
  font-size: 12px;
  text-align: center;
}
.close_tab {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  opacity: 1;
  cursor:pointer
}
.close_btn{
  width: 200px;
  height: auto;
  margin: auto;
  display: block;
}