* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header {
  width: 100%;
  height: 80px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  opacity: 1;
  margin-top: 10px;
  overflow: hidden;
}
.anniversary {
  width: 80%;
  color: rgba(0,152,68,1);
  margin-top: 10px;
  font-weight: Bold;
  font-size: 30px;
  text-align: center;
  }
.video {
  width: 100%;
  background: rgba(252,250,244,1);
  margin-top: 10px;
}
video{
  max-width: 100%;
  height: auto;
}
.video_warning {
  width: 80%;
  color: #009844;
  margin-top: 10px;
  font-weight: Bold;
  font-size: 20px;
  text-align: center;
}
.close_tab {
  width: 320px;
  height: 80px;
  margin-top: 10px;
  cursor:pointer
}